.app {
  text-align: center;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: tomato;
}

.spinner {
  position: fixed;
  background-image: url('./wm.svg');
  background-size: 25% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  filter: drop-shadow(8px 6px 4px darkgray);
}
